.a-note {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  width: 150%;
}

.note-name {
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.delete-button {
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
}