.note-content {
  margin-left: 30px;
}

.sub-content {
  display: flex;
  justify-content: space-between;
  
}

.note-header {
  flex-direction: column;
  border: 1px solid black;
  justify-content: space-between;
  width: 100%;
  height: 150%;
}